body{
    background-color:#002fa7 ;
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    padding: 0px 10vw 0px 10vw;
    align-items: center;
    height: 10vh;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #ff4500;
}
.seccion1{
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#1cbaa4;
} 
.seccion1 img{
    border-radius: 150px;
}
.seccion1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25vw;
    height: 25vh;
    border-radius: 80px;
    background-color: #002fa7 ;
    font-size: 40px;
    border: 3px #ff4500 solid;
    color: #ff4500;
}
.seccion1 button:hover{
    background-color:  #3d025c;
    cursor: pointer;
    color:#cb2b92;
    border: #cb2b92 solid 3px;
}
.seccion2{
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3d025c ;
    text-align: center;
    color:#cb2b92;
    flex-direction: column;
}
.seccion2 ul h2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 40px;
    font-size: 29px;
    font-family: 'Courier New', Courier, monospace;
}
.seccion2 ul p{
    font-size: 20px;
    margin-right: 40px;
}
.seccion2 ul h3{
    font-size: 25px;
    margin-right: 40px;
    font-family:cursive;
}
